/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* defining "default" styles for small screens (less than 420px wide) */
html { 	    background-color:#000;
			font-size:14px; font-size:100%;	}
body { 	width: 96vw;
	background-color:#606;
	margin: 1rem auto; padding-bottom: 10px;
	border-top-left-radius:25px;
        box-shadow: 0 0 10px #000;
	font: 100%/1.4 Verdana, Geneva, sans-serif; }
header, footer {
            padding:.5em 3% .2em 3%; margin:0;
            color:#fff; }
footer {    clear:both;
            background:#e4dde4; }
.main_content {   background:#e4dde4;
            padding-top: 10px;
            padding-bottom: 10px; }
h1 { 		font-size:200%; margin:0;
		font-family:'caviar_dreamsbold', Geneva, sans-serif; }
h2 { 		font-size:140%; font-weight: bold;
            margin: .1rem 3% 0  3%;  }
h3 { 		font-size:110%; font-weight: bold;
            margin: 0 0 .5rem 0;  }
p { 		font-size:90%;    }
.intro p   { margin: 3%;  }
.grid-row { padding: 3%; }
.secondary, .triptych {
        background-color:#eee;
	margin:0% 0% 3% 0%;
	padding: .75rem;
}

/* media query 1: define styles that should only kick in if screen is above 421 pixels wide... */
@media screen and (min-width:421px) {
    .grid-row {
        display: flex;
    }
	.secondary, .triptych {
        flex: 1;
        margin: 0% 3% 0% 0%;
   }
    .secondary:last-child, .triptych:last-child {
        margin-right: 0%;
    }
}

@media screen and (min-width:561px) {
	body { font-size:105%; }
}

@media screen and (min-width:761px) {
	body { font-size:110%; }
}

@media screen and (min-width:961px){
	body { font-size:120%; width:80vw; }
}
@media screen and (min-width:1024px){
	body { width: 1024px; }
}
